
body{
    background-color: #006dad;
  }
   .container{
    margin-top:300px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }

   .text{
     color:white;
   }
.first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button{
  font-family: Georgia;
  font-size: 18px;
  width: 220px;
  height: 38px;
  border-radius: 16px;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}